__pycache__/
*.pyc
.DS_Store
.venv/
.pytest_cache/
.mypy_cache/
maizesecure_scans.db
maizesecure_scans.db-*
maizora_scans.db
maizora_scans.db-*
fall armyworm.yolov8/
model_dev.ipynb
draft_app.py
fall armyworm.yolov8/
model_dev.ipynb
draft_app.py
